*{
    padding: 0px;
    margin: 0px;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.header{
    width: 100%;
    height: 60px;
    background-color: #1c425e;
    display: flex;
    align-items: center;
    justify-content: start;
}
.title{
    width: 50%;
    height: auto;
    color: white;
}
.title > h1{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.nav{
  
    width: 40%;
    display: flex;
    justify-content: center;
}
.nav > ul{
    width: 80%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.nav > ul > li{
    margin-left: 15px;
    margin-top: 5px;
}
.nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
select{
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 100%;
    min-height: 100vh;
    background-color:#57a9d9 ;
    display: flex;
    flex-direction: column;
    height: auto;

}
.content > h1{
    font-size: 35px;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.tareas{
    width: 80%;
   
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.tarea{
    width: 70%;
    border: 1px solid rgb(88, 84, 84);
    margin-top: 15px;
    padding: 25px;
    background-color: #328ec5;
    border-radius: 10px;
}
.tarea:first-child{
    margin-top: 5px;
}

.tarea:last-child{
    margin-bottom: 10px;
}
.tarea{
    color: white;

}